<ion-menu side="start" menuId="first" contentId="main" [swipeGesture]="true">
  <ion-header>
    <ion-toolbar color="orange-duoc" >
      <ion-title >Duoc Maps</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item color="light"href="/"><ion-icon name="home-outline"></ion-icon> Inicio</ion-item>
      <ion-item color="light" (click)="pop2click($event)"><ion-icon name="map-outline"></ion-icon> Mapa</ion-item>
      <ion-item color="light"href="calendario"><ion-icon name="calendar-number-outline"></ion-icon> Calendario</ion-item>
      <ion-item color="light"href="puntoInteres"><ion-icon name="location-outline"></ion-icon> Puntos de Interes</ion-item>
      <ion-item color="light"href="Sala"><ion-icon name="school-outline"></ion-icon> Salas</ion-item>
    </ion-list>
  </ion-content>  
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>

<ion-header>
  <ion-toolbar>
    <ion-title>Puntos de Interes</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>

    <ion-button color="dark" fill="clear" slot="end" (click)="popclick($event)">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="completa ion-align-items-center">
      <ion-col size="10" offset="1">
        <ion-button color="light" expand="block" size="large" href="localDeComida"><ion-icon slot="start" name="restaurant-outline"></ion-icon>Local de comida</ion-button>
     </ion-col>
      <ion-col size="10" offset="1">
       <ion-button color="light" expand="block" size="large" href="Biblioteca"><ion-icon slot="start" name="book-outline"></ion-icon>Biblioteca</ion-button> 
      </ion-col>
      <ion-col size="10" offset="1">
         <ion-button color="light" expand="block" size="large" href="Enfermeria"><ion-icon slot="start" name="medkit-outline"></ion-icon>Enfermeria</ion-button>
      </ion-col>
      <ion-col size="10" offset="1">
         <ion-button color="light" expand="block" size="large" href="PuntoEstudiantil"><ion-icon slot="start" name="briefcase-outline"></ion-icon>Punto Estudiantil</ion-button>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-button color="light" expand="block" size="large" href="Finanzas"><ion-icon slot="start" name="card-outline"></ion-icon>Finanzas</ion-button>
     </ion-col>      
    </ion-row> 
</ion-content>




