<ion-content>
    <ion-list class="small-list">
        <ion-item>

            <div class="center-button">
                
                <ion-button
                class="round"
                color="warning"
                expand="block"
                size="small"
                (click)="redirect()"
                
            >
                Piso -1
            </ion-button>
            </div>
        </ion-item>
        <ion-item>

            <div class="center-button">
                
                <ion-button
                class="round"
                color="warning"
                expand="block"
                size="small"
                
            >
                Piso 1
            </ion-button>
            </div>
        </ion-item>
        <ion-item>

            <div class="center-button">
                
                <ion-button
                class="round"
                color="warning"
                expand="block"
                size="small"
                
                
            >   
                Piso 2
            </ion-button>
            </div>

            
        </ion-item>

        <ion-item>

            <div class="center-button">
                
                <ion-button
                class="round"
                color="warning"
                expand="block"
                size="small"
                
                
            >   
                Piso 3
            </ion-button>
            </div>

            
        </ion-item>
    </ion-list>
</ion-content>