
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="puntoInteres"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--biblioteca-->
<ion-content>
    <ion-grid>
      <ion-col class="ion-align-items-center">
        <ion-card>

          <ion-card-header class="ion-center">
              <ion-card-title>Biblioteca</ion-card-title>
          </ion-card-header>
          <ion-card-content>           
            Horario de Atencion Lunes a viernes 8:30 - 22:30 hrs y sabados 09:00 - 15:30 hrs,  se encuentra ubicado en el primer piso a un costado del casino
           y al costado del patio central 
          </ion-card-content>
          <ion-card-content>
             <img src="assets/img/Biblioteca.jpg" >
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-grid>
  </ion-content>
  