
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="puntoInteres"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--Enfermeria-->
<ion-content>
    <ion-grid>
      <ion-col class="ion-align-items-center">
          <ion-card>
                <ion-card-header class="ion-center">
                    <ion-card-title>Enfermeria</ion-card-title>
                </ion-card-header>
              <ion-card-content>
                Horario de atención Lunes a viernes 08:30 -- 23:00 / Sábado 09:00 -- 15:30, 
                se encuentra ubicado en el piso menos uno al frente de la capilla
              </ion-card-content>
              <ion-card-content>
                <img src="assets/img/Enfermeria.jpg" >
              </ion-card-content>
              <ion-header>
               <ion-toolbar>
                 <ion-buttons slot="start">
                   <ion-back-button></ion-back-button>
                 </ion-buttons>
               </ion-toolbar>
             </ion-header>
          </ion-card>          
      </ion-col>
    </ion-grid>
</ion-content>
  