<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="puntoInteres"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--local De Comida-->
<ion-content>
  <ion-grid>
    <ion-col class="ion-align-items-center">
      <ion-card>
        <ion-card-header class="ion-center">
          <ion-card-title>Local de Comida</ion-card-title>
        </ion-card-header>    
        <ion-card-content>
          Horario de atención Lunes a viernes 08:30 -- 22:30 hrs / sábado 08:30 -- 15:30
          se encuentra ubicado en el primer piso, al final del patio central  
        </ion-card-content>
        <ion-card-content>
           <img src="assets/img/Local de comida.jpg" >          
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-grid>
</ion-content>
