
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="puntoInteres"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--finanzas-->
<ion-content>
    <ion-grid>
      <ion-col class="ion-align-items-center">
            <ion-card>
                <ion-card-header class="ion-center">
                    <ion-card-title>Finanzas</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Apoyo e informar sobre los distintos beneficios estudiantiles internos y externos los cuales permiten financiar tu carrera, se encuentra ubicado en el tercer piso, una forma de contacto es el correo el cual es: financiamiento_sanbenardo@duoc.cl
                </ion-card-content>
                <ion-card-content>
                    <img src="assets/img/finanzas.jpg" >
                </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-grid>
</ion-content>
  
