<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="puntoInteres"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--Punto estudiantil</!-->
<ion-content>
    <ion-grid>
      <ion-col class="completa ion-align-items-center">
        <ion-card>
          <ion-card-header class="ion-center">
             <ion-card-title>Punto Estudiantil</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Horario de atención Lunes a viernes 08:30 a 18:00 horas / Sábado 08:00 a 14:00 horas, 
            se encuentra ubicado en el primer piso, frente al patio central y a un lado del meson de atención
          </ion-card-content>
          <ion-card-content>
               <img src="assets/img/PuntoEstudiantil.jpg" >
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-grid>
</ion-content>
  